.container {
  margin: 1em;
}

.container h3 {
  margin: 1em 0;
  font-weight: 600;
}

@media (min-width: 500px) {
  .container {
    margin: 1em 4em;
  }
}

@media (min-width: 1000px) {
  .container {
    margin: 1em 8em;
  }
}
